html,
body {
    margin: 0;
    padding: 0px;
    font-family: "Quicksand", sans-serif;
    color: #222;
    user-select: none;
    font-size: 16px;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 7px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #f6aa68;
    border-radius: 7px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #3f82d9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    margin: 10px auto;
}

img {
    width: 100px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #d9d8d8;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin: 5px 0;
    border: rgb(198, 198, 198) solid .05px;
}

textarea {
    color: #432000;
    background-color: #dce1eb;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin: 10px 0;
    border: rgb(198, 198, 198) solid .05px;
}

button {
    color: #fdfdfd;
    background-color: #ed780b;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 10px;
}

button:hover {
    background-color: #3f82d9;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -2px;
    border-radius: 6px;
}

ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 15px;
    flex-grow: 1;
    text-align: left;
}

#error {
    color: red;
    font-size: 20px;
}

.main {
    border-left: 1px dotted rgb(117, 116, 116);
    padding: 2px;
}

.aligned {
    display: flex;
    align-items: center;
}

.right {
    background-color: transparent;
    text-align: right;
    cursor: pointer;
    padding: 10px;
    line-height: 50px;
}

.grey {
    color: #b5b4b4;
}

.green {
    background: #ceebce;
}

.greenBkg {
    background: #3bbd3b;
}

#dataTable {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    margin: 0px auto;
    border: orange solid 1px;
    border-radius: 3px;
}

.rounded {
    border-radius: 3px;
    border: orange solid 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dad8d8;
}

td {
    margin-left: 12px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #fff;
}

#dataTable td:hover {
    background-color: black;
    color: white;
}

td:last-child {
    width: 100%;
}

td:first-child {
    background: #a6a6a6;
    color: white;
}

#dataTable td:first-child {
    background: transparent;
    color: black;
}

th {
    background-color: #ed780b;
    color: white;
}

tr {
    background-color: #fcfcfc;
}

label {
    font-size: 13px;
}

#spinIt {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.26);
    z-index: 9999999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#spinIt::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 63px;
    height: 63px;
    content: url(x.svg);
    border-style: solid;
    border-color: #ca875bc5;
    border-top-color: transparent;
    border-width: 11px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

.toast {
    position: fixed;
    top: 25px;
    right: 25px;
    max-width: 300px;
    background: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1023;
    animation: slideInRight 0.3s ease-in-out forwards, fadeOut 0.5s ease-in-out forwards 3s;
    transform: translateX(110%);
}

.toast.closing {
    animation: slideOutRight 0.5s ease-in-out forwards;
}

.toast-progress {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: #b7b7b7;
    animation: toastProgress 3s ease-in-out forwards;
}

.toast-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast-icon {
    padding: 0.35rem 0.5rem;
    font-size: 1.5rem;
}

.toast-message {
    flex: 1;
    font-size: 0.9rem;
    color: #000000;
    padding: 0.5rem;
}

.toast.toast-success {
    background: #ceebce;
}

.toast.toast-success .toast-progress {
    background-color: #64d291;
}

.toast.toast-danger {
    background: #f5c6c1;
}

.toast.toast-danger .toast-progress {
    background-color: #f06e60;
}

.toast.toast-info {
    background: #bddaed;
}

.toast.toast-info .toast-progress {
    background-color: #3498db;
}

.toast.toast-warning {
    background: #ead994;
}

.toast.toast-warning .toast-progress {
    background-color: #f1c40f;
}

@keyframes slideInRight {
    0% {
        transform: translateX(110%);
    }
    75% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(110%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes toastProgress {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#xpic {
    animation: myXPic 2s ease 0s 1 normal forwards;
}

@keyframes myXPic {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.shadow {
    text-shadow: 2px 2px 4px #242424;
    color: white;
}

.altText {
    font-family: "Architects Daughter", cursive;
}

.small {
    color: rgb(144, 143, 143);
    font-size: .9rem;
}

.link {
    background: rgba(176, 193, 233, 0.8);
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

.link:hover {
    background: #eebda8e8;
    cursor: pointer;
}

#about {
    width: 100%;
    margin-top: 100px;
    padding: 20px 20px;
}

.orange {
    color: #ef7610;
}

.purple_back {
    background: #b4acd486;
}

.purple {
    color: #b4acd4;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.modal-dialog {
    overflow-y: initial !important;
}

.modal-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 400px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #eb8d4d;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 5px 16px;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    border-radius: 10px;
}

.modal-footer {
    padding: 4px 16px;
    align-items: center;
    justify-content: center;
}


/* footer */

.footer {
    width: 100%;
    background: rgb(110 132 182 / 80%);
    color: white;
    height: 5rem;
    padding: 20px;
    width: 100%;
    height: 15rem;
}


/* header */

.header {
    top: 0px;
    position: fixed;
    width: 100%;
    background: rgb(71 72 73 / 80%);
    color: white;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header span a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white !important;
}

.header span a:hover,
.header .menu-btn:hover {
    background-color: #575757;
}

.header .logo {
    display: block;
    float: left;
    margin-left: 2rem;
    font-size: 2em;
    padding: 10px;
    text-decoration: none;
}


/* menu */

.header .menu {
    margin-top: 2px;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 30px 10px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 20px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    body {
        background-size: 38rem;
    }
    .main {
        min-height: 10rem;
    }
    .about {
        margin-top: 50px;
    }
}