/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 9px;
}

::-webkit-scrollbar-thumb {
    background: #f6aa68;
    border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f8a761;
}

body {
    user-select: none;
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: #222;
    font-size: calc(15px + 0.2vw);
    font-family: "Quicksand", sans-serif;
    line-height: 100%;
    background-image: url(images/logoBack.png), url(images/main2.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 32rem;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#errorTrap {
    padding: 15px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    background-color: #d6b271d0;
    color: white;
    border-radius: 5px;
    max-width: 300px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

.linkx:hover {
    color: #95b8e7;
    cursor: pointer;
}

.fixed {
    position: absolute;
    top: 148px;
    right: 55px;
}

.fixedTotal {
    position: absolute;
    top: 180px;
    right: 55px;
}

.fixed:hover {
    color: #95b8e7;
    cursor: pointer;
}

.container {
    margin-top: 90px !important;
    padding: 50px;
}

.ximg {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid orange;
    border-radius: 4px;
}

#cartTotal {
    text-align: right;
    font-weight: bold;
    color: #d68b45;
}

input {
    color: #d68b45;
    background-color: #fff;
    letter-spacing: .2rem;
    text-align: center;
    margin: 10px 0;
    padding: 7px;
    border: 1px solid #eb8d4d;
    border-radius: 8px;
}

input:focus {
    outline: none;
}

.button {
    color: #FDFDFD;
    font-size: 32px;
    text-align: center;
    background-color: #eb8d4d;
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

.cartButton {
    color: #efefee;
    background-color: #99b0d9;
    border: 0;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}

.cartButton:hover {
    background-color: #99b0d9b8;
    cursor: pointer;
}

.button:hover {
    background-color: #95b8e7;
    cursor: pointer;
}

#error {
    color: #eb8d4d;
}

.main {
    padding: 2px;
    -webkit-overflow-scrolling: touch;
}

#mainTitle {
    color: #f5f1f1;
}

.right {
    background-color: transparent;
    text-align: right;
    margin-right: 5px;
}

.enMoney::before {
    font-family: "Quicksand";
    content: "$ ";
}

.greenBack {
    color: #52be5286;
}

.green {
    color: #52be52;
}

.orange {
    color: #e6b394;
}

.inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.reply {
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.containerx {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 2px;
    background-color: #f3f2f2cc;
    border-radius: 4px;
    padding: 5px;
}

.containerCart {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    align-items: right;
    justify-content: right;
}

.item {
    height: 80px;
    width: 80px;
    text-align: right;
    margin-bottom: 6px;
    /* A fixed width as the default */
}

.item-cart-x {
    width: 80px;
    text-align: left;
}

.item-center {
    min-height: 90px;
    flex-grow: 1;
    margin-bottom: 5px;
    /* Set the middle element to grow and stretch */
}

.item-centerx {
    min-height: 20px;
    flex-grow: 1;
    margin-bottom: 3px;
    /* Set the middle element to grow and stretch */
}

.item3 {
    height: 90px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    /* A fixed width as the default */
}

.lastItem {
    width: 150px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    /* A fixed width as the default */
}

.item+.item {
    margin-left: 2%;
    text-align: right;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgb(84 84 84 / 25%);
    /* Black w/ opacity */
    border-radius: 10px;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button  for modal*/

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #eb8d4d;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height: 20px;
    padding: 20px 16px;
    background: rgb(110, 132, 182);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body {
    padding: 2px 16px;
    border-radius: 10px;
}

.modal-footer {
    height: 50px;
    padding: 2px 16px;
    background: rgb(110, 132, 182);
    color: #292828;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* dialog */

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.value-radios {
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.radio {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bcbcbc;
    padding: 4px 8px;
}

.radio:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radio:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label {
    padding: 3px;
    width: 100%;
    cursor: pointer;
}

.highlight {
    background-color: #eac3be;
    font-weight: bold;
    accent-color: #eb8d4d;
}

.controls-container {
    -webkit-overflow-scrolling: touch;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 20px;
    text-align: center;
    background: #b0bcd9;
    color: #fff;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #eb8d4d;
    user-select: none;
}

.spin-it {
    animation: spinner 5s linear infinite;
}

#spinIt {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.26);
    z-index: 9999999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#spinIt::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 41px;
    height: 41px;
    content: url(x.svg);
    border-style: solid;
    border-color: #ca875bc5;
    border-top-color: transparent;
    border-width: 11px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.shadow {
    text-shadow: 2px 2px 4px #242424;
    color: white;
}

.altText {
    font-family: "Architects Daughter", cursive;
}

.small {
    color: rgb(144, 143, 143);
    font-size: .9rem;
}

.link {
    background: rgba(176, 193, 233, 0.8);
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

.link:hover {
    background: #eebda8e8;
    cursor: pointer;
}

.orange {
    color: #eb8d4d;
}

.orange_back {
    background: #f1cf9073;
}

.pink_back {
    background: #ebc5d066;
}

.green_back {
    background: #cee4a8;
}

.green {
    color: #cee4a8;
}

.grey {
    color: #505150;
}

.purple_back {
    background: #b4acd486;
}

.purple {
    color: #b4acd4;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* footer */

.footer {
    width: 100%;
    background: rgb(110 132 182 / 80%);
    color: white;
    padding: 20px;
    height: 15rem;
    margin-top: auto;
}


/* header */

.header {
    top: 0px;
    position: fixed;
    width: 100%;
    background: rgb(110, 132, 182);
    color: white;
    z-index: 1;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white !important;
}

.header li:hover,
.header .menu-btn:hover {
    background-color: #99b0d9b8;
    border-radius: 4px;
}

.header .logo {
    margin-top: 20px;
    display: none;
    float: left;
    margin-left: 2rem;
    font-size: 2em;
    background-image: url(assets/nstWhite.png);
    position: absolute;
}


/* menu */

.header .menu {
    margin-top: 2px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 20px 10px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: absolute;
    transition: 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* header and menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 20px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        padding: 10px;
        height: 85px;
    }
    .header .menu-icon {
        display: none;
    }
    body {
        background-size: 38rem;
        background-image: url(images/main.png), url(images/main2.png);
    }
    .main {
        min-height: 10rem;
    }
    .about {
        margin-top: 50px;
    }
    .logo {
        height: 100px;
        margin: 0 auto;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        box-shadow: 0px -10px 10px -10px black;
        display: block !important;
    }
}